body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    display: block;
    font-family: 'Courier New', Courier, monospace
}

span {
    display: block;
}

.container {
    margin-top: 3rem;
    width: 100vw;
    display: grid;
    place-items: center;
    align-items: center;
}

.bracket {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1.2rem;
    width: 80vw;

    &__side {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        column-gap: 0.575rem;
    }

    &__column {
        display: grid;
        justify-content: center;
        width: 25%;
        row-gap: 2.5rem;
    }
}

.match {
    display: grid;
    align-items: center;
    row-gap: 1rem;
}

.team {
    width: clamp(40px, 10vw, 150px);
    height: 3rem;
    display: grid;
    place-items: center;
    text-align: center;
    border: 2px solid hsl(218, 50%, 64%);
    background-color: hsl(0, 40%, 87%);
    border-radius: 5px;

    &__name {
        font-size: clamp(0.3rem, 1.7vw, 75%);
        font-weight: bold;
    }

    &__score {
        margin-top: 0.575rem;
    }
}

.grid-end {
    justify-items: center;
}

.btn {
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: 100ms ease-in-out;

    &:hover {
        border: 2px solid black;
    }
}

.control {
    margin-top: 2rem;
    text-align: center;
}

.btn-green {
    background-color: hsl(120, 40%, 64%);
}

.btn-red {
    background-color: hsl(347, 40%, 64%);
}

#winner {
    padding-bottom: 2rem;
    font-size: 1.3em;
    font-weight: bold;
    color: hsl(151, 40%, 64%);
}

@media screen and (max-width: 900px) {
    .container {
        width: 95vw;
    }
}